@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANSansWeb;
    src: url('/assets/fonts/IRANSansWebFaNum.eot');
    src: url('/assets/fonts/IRANSansWebFaNum.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/IRANSansWebFaNum.woff2') format('woff2'),
    url('/assets/fonts/IRANSansWebFaNum.woff') format('woff'),
    url('/assets/fonts/IRANSansWebFaNum.ttf') format('truetype');
}

*{
    font-family: 'IRANSansWeb', sans-serif !important;
}
body{
    background-color: #fcfcfc;
}
ul li::marker {
    list-style: disc inside !important;
    color: #212121;
    font-size: 1.5em;
}
/* .Test>P::-moz-selection {
    background-color: #889966;
    color: #FFF;
}
.Test>P::selection {
    background-color: #889966;
    color: #FFF;
} */